/* *{
    font-family: Arial black, Helvetica, sans-serif;
} */
/* Estilos por ID */

/*Fuentes */
@font-face {
    font-family: arima-koshi-bold;
    src: url(../assets/fuentes/ArimaKoshi-Bold.ttf);
}

@font-face {
    font-family: arima-koshi-regular;
    src: url(../assets/fuentes/ArimaKoshi-Regular.ttf);
}

@font-face {
    font-family: RedHatDisplay-Bold;
    src: url(../assets/fuentes/RedHatDisplay-Bold.ttf);
}

@font-face {
    font-family: RedHatDisplay-Regular;
    src: url(../assets/fuentes/RedHatDisplay-Regular.ttf);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'arima-koshi-bold', sans-serif;
}

p {
    font-family: arima-koshi-regular, sans-serif;
}


#header_Fondo {
    background-image: url(../assets/images/navbar_Fondo.png);
    background-size: cover;
}



#idioma {
    padding: 15px;
}

#copyright_Footer {
    color: white;
}

#parrafo_Historia {
    text-align: justify;
    font-family: 'arima-koshi-regular';
}

/*Main*/
.main {
    max-width: 1100px;
    padding: 40px;
    margin: auto;
}

/*ESTILOS NAVBAR*/
.navbar {
    background-color: rgb(158, 12, 38);
    height: 80px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 40px;
    padding: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

}

.compra {
    background-color: white;
    color: rgb(158, 12, 38);
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    padding-left: 20px;
}

.compra:hover {
    background-image: url(../assets/images/fondo_vini_compra.png);
    color: rgb(158, 12, 38);
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-links {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

.nav-links:hover,
.nav-links {
    color: white;
    font-family: Arial black, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: 0.3s ease-in-out;
}

.nav-links:hover::before {
    width: 100%;
    visibility: visible;
}

.offcanvas {
    background-color: rgb(158, 12, 38);
}

.offcanvas-title {
    color: rgb(255, 255, 255);
}

.btn-close {
    background-color: white;
    color: white;
}

/*CAROUSEL*/
.carousel-caption {
    bottom: 170px;
    z-index: 2;
    right: 10%;
}

.carousel-caption img {
    text-align: right;
    margin-top: 25px;

}

.carousel-caption h5 {
    font-size: 70px;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

}

.carousel-caption p {
    text-align: right;
}

/*Estilos del Pie de Pagina*/
.footer {
    background-color: rgb(158, 12, 38);
    background-image: url(../assets/images/footer_Fondo.webp);
    background-size: cover;
    background-position: top;
}

.line {
    width: 100%;
    height: auto;
}

.container-logo-historia {
    text-align: center;
    padding: 30px;
}

.container-logo-historia img {
    max-width: 100%;
    height: auto;
}

.text_items {
    text-decoration: none;
    font-size: 17px;
}

.row p {
    font-size: 17px;
}

.text_items:hover {
    color: #0D6EFD;
}

.bi {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.bi:hover {
    color: rgb(77, 71, 71);
}

/*Galeria Fotos*/
#galeria {
    padding-bottom: 60px;
}

#galeria img {
    width: 100%;
    height: 220px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

#imagen_Galeria {
    margin: 0 !important;
    padding: 25px;
}

#galeria #imagen_Galeria:hover {
    border: 10px solid #ffffff;
}

/*Estilos de ACORDION-PREGUNTAS FRECUENTES*/
.accordion {
    --bs-accordion-active-bg: rgb(158, 12, 38);
    --bs-accordion-active-color: white;
    --bs-accordion-icon-active-color: white;
    --bs-accordion-icon-color: white;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item label {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.accordion-item-content {
    padding: 10px 20px;
    display: none;
}

.accordion-item-content.show {
    display: block;
}

#pagar_visa {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#pagar_Yape {
    width: 100%;
    padding: 10px;
    background-color: #ffd000;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


/*Galeria*/
#gaelria {
    padding: 20px;
}

#galeria img {
    width: 100%;
    height: 220px;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}