/* *{
    font-family: Arial black, Helvetica, sans-serif;
} */
#container_Logos_Gore{
    background-image: url(../img/navbar_Fondo.png);
    background-size: cover;
}
#idioma{
    width: 70px;
    height: 35px;
    padding: 8px 20px;

}
#copyright_Footer{
    color: white;
}


/*ESTILOS NAVBAR*/
.navbar {
    background-color: rgb(158, 12, 38);
    height: 80px;
    margin: 20px;
    border-radius: 40px;
    padding: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)
}
#login-button{
    background-color: white;
    color: rgb(158, 12, 38);
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    padding-left: 20px;
}
#login-button:hover{
    background-image: url(img/fondo_vini_compra.png);
    color: rgb(158, 12, 38);
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50)
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link{
    /* color: white; */
    font-family: Arial black, "Helvetica Neue", Helvetica, sans-serif;
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: 0.3s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
.offcanvas{
    background-color: rgb(158, 12, 38, 0.5);
}

.offcanvas-title{
    color: white;
}
.btn-close{
    background-color: white;
    color: white;
}

/*CAROUSEL*/
.carousel-caption{
    bottom: 170px;
    z-index: 2;
    right:  10%;
}
.carousel-caption img{
    text-align: right;
    margin-top: 25px;

}
.carousel-caption h5{
    font-size: 70px;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

}
.carousel-caption p{
    text-align: right;
}

/*Estilos del Pie de Pagina*/
.footer{
    background-color: rgb(158, 12, 38);
    background-image: url(img/fondo-footer.png);
    background-size: cover;
    background-position: top; 
}
.line{
    width: 100%;
    height: auto;
}
.container-logo-historia{
    text-align: center;
    padding: 30px;
}
.container-logo-historia img{
    max-width: 100%; 
    height: auto;
}
a{
    text-decoration: none;
    font-size: 17px;
}

p{
    font-size: 17px;
}
a:hover{
    color: #0D6EFD;
}
i{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
i:hover{
    color: rgb(77, 71, 71);
}